*.idea
*.iml
*.swp
target/
.settings
.classpath
.project

.gradle
!gradle/wrapper/gradle-wrapper.jar
bin/
build/
/application/build/
/application/out/
/application/src/test/java/utils
/domain/build/
/domain/out/
